<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      svg {
        background-color: #FFF;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      svg:not(.active):not(.ctrl) {
        cursor: crosshair;
      }

      path.link {
        fill: none;
        stroke: #000;
        stroke-width: 4px;
        cursor: default;
      }

      svg:not(.active):not(.ctrl) path.link {
        cursor: pointer;
      }

      path.link.selected {
        stroke-dasharray: 10,2;
      }

      path.link.dragline {
        pointer-events: none;
      }

      path.link.hidden {
        stroke-width: 0;
      }

      circle.node {
        stroke-width: 1.5px;
        cursor: pointer;
      }

      circle.node.reflexive {
        stroke: #000 !important;
        stroke-width: 2.5px;
      }

      text {
        font: 12px sans-serif;
        pointer-events: none;
      }

      text.id {
        text-anchor: middle;
        font-weight: bold;
      }
    </style>
    <title>Hello ActorServer!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <div id="app"></div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
